<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>{{ name }}Stat</title>

    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="js/datepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
</head>
<body>

    <div class="container">
        <header>
            <div class="row">
                <div class="col-md-7">
                    <h1>Статистика <small>{{ name }}</small></h1>
                </div>
                <div class="col-md-5 updated text-right">
                    Последнее обновление: <span class="label label-primary">{{ lastUpdate is empty ? "неизвестно" : lastUpdate|date('d.m.Y в H:i') }}</span>
                </div>
            </div>

        </header>

        <form id="searchForm" class="form-horizontal col-sm-7">
            <div class="form-group">
                <label class="col-sm-3 control-label">Период</label>
                <div class="col-sm-9">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <div class="input-group date datepicker">
                                <input name="startDate" type="text" class="form-control">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <label class="col-md-1 control-label text-center">—</label>
                        <div class="col-md-4">
                            <div class="input-group date datepicker">
                                <input name="endDate" type="text" class="form-control">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Текст поста содержит:</label>
                <div class="col-sm-9">
                    <input name="query" type="text" class="form-control" value="{{ defaultQuery }}">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-primary">Показать статистику</button>
                </div>
            </div>
        </form>

        <div class="clearfix"></div>

        <section id="statResult" class="results col-md-8">

        </section>

    </div>

    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="detailModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <div class="loader"></div>
                    <div id="detailResults"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="copyModal" tabindex="-1" role="dialog" aria-labelledby="copyModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="detailModalLabel">Скопировать результаты</h4>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/moment-with-locales.min.js"></script>
    <script src="js/datepicker/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.datepicker').datetimepicker({
                format: 'DD.MM.YYYY',
                locale: 'ru'
            });

            $('#searchForm').submit(function () {
                var btn = $(this).find('button[type=submit]');
                btn.attr('disabled', 'disabled');
                btn.after('<div class="loader"></div>');
                $.get('/stat', $(this).serialize(), function (res) {
                    btn.removeAttr('disabled');
                    $('#searchForm .loader').remove();
                    $('#statResult').html(res);
                });

                return false;
            });

            $('#detailModal').modal({
                show: false
            });

            $('#copyModal').modal({
                show: false
            });

            $('#statResult').on('click', '.detail', function () {
                var tr = $(this).closest('tr');

                var name = tr.find('.name').text();
                $('#detailModalLabel').html(name);
                $('#detailModal .loader').show();
                $('#detailResults').html('');

                $('#detailModal').modal('show');

                var params = $('#searchForm').serialize() + '&userId=' + tr.data('id');
                $.get('/detail', params, function (res) {
                    $('#detailModal .loader').hide();
                    $('#detailResults').html(res);
                });

                return false;
            });

            $('#statResult').on('click', '#copyBtn', function () {

                var modal = $('#copyModal');
                modal.modal('show');

                var text = '';
                $('#statResult tbody tr').each(function () {
                    var id = $(this).data('id');
                    var name = $(this).find('.name').text();
                    var points = $(this).find('.points').text();
                    text += '[id'+ id +'|'+ name +']' + ' — ' + points + '<br>';
                });
                modal.find('.modal-body').html(text);


                return false;
            });
        });
    </script>
</body>
</html>